---
interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props;
---

<div class="bg-gradient-to-r from-purple-700 to-indigo-700 text-white py-16">
    <div class="max-w-6xl mx-auto px-4">
        <div class="text-center">
            <h1 class="text-4xl font-bold mb-4">{title}</h1>
            <p class="text-xl">{description}</p>
        </div>
    </div>
</div>